body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-pane {
  z-index: 0;
}

.hamburger {
  position: absolute;
  background-color: white;
  height: 100vh;
  left: 0px;
  top: 70px;
}

ul#menu {
  list-style-type: none;
  background-color: white;
  width: 250px;
  background-color: rgb(
    240,
    240,
    240
  ); /* Corretto formato per il colore di sfondo */
  position: absolute;
  height: 100%;
  overflow: auto;
}

ul#menu li {
  background-color: rgb(201, 201, 201);
  border-left: 5px solid rgb(0, 34, 170);
  display: flex;
  border-left: 20px solid gray;
  display: block;
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
}

/* Quando il mouse non è sopra l'elemento li */

/* SCRITTE DEL MENU HAMBURGER */
ul#menu li a {
  color: black;
  display: block;
  font-weight: bold;
  font-family: serif;
  padding-left: 50px;
  text-decoration: none;
  width: 135px; /* 150px - 15px (padding) */
  height: 30px;
  line-height: 40px;
  margin-left: 20px;
}

ul#menu li.active,
ul#menu li:hover {
  background-color: #54bae2;
  border-left: 5px solid #ff831c;
}

.home {
  position: absolute;
  background-color: rgb(240, 240, 240);
  height: 250px;
  width: 200px;
  left: 0px;
  top: 70px;
}

/* stesso css per di hamburger per home*/
#back {
  background-color: rgb(182, 181, 181);
  width: 60px;
  height: 20px;
  /* al centor */
  margin-left: 70px;

  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bike {
  border-radius: 50%;
  width: auto;
  border: 1px solid black;
  height: 150px;
}
